body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e79090, #2469ff);
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

#container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    height: inherit;
    width: 90vw;
}
#container #data-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container #data-container div {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: #ffffff34;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    padding: 3px;
    transition: all 0.5s ease;
    margin: 5px;
}
#container #data-container div:hover {
    z-index: 100;
    color: white;
    background: linear-gradient(to right, #0004ff8e, #ff5e00a6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

#users-list {
    width: 35%;
    height: 100vh; /* Corrected from 100lvh to 100vh */
    background-color: #ffffff00;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden; /* Ensure content stays within the container */
}

#users-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Prevent wrapping of list items */
    overflow-y: auto; /* Enable vertical scrolling */
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    max-height: 100%; /* Constrain the height to the parent container */
}

#users-list li {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 600;
    text-align: center;
    background-color: #ffffffa8;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#users-list li:hover {
    background-color: #fff;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}
